@use "variables";
// button styles
@mixin btn-styles {
  background-color: #052a44;
  padding: 0.8rem 1.2rem;
  border-radius: 0.8rem;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
}

// play -video button styles
@mixin play-btn {
  background-color: #ffffff;
  padding: 1.8rem;
  box-shadow: variables.$video-box-shadow;
}

// input field styles
@mixin input-field {
  background-color: variables.$primary-bg-color;
  border-radius: 0.8rem;
  padding: 2rem 2.4rem;
}
