//  background color variables
$primary-bg-color: #ffffff;
$dark-theme-bg-color: #1e2a39;
$secondary-bg-color: #e8db84;

// font colors
$primary-text-color: #000000;
$secondary-text-color: #ffffff;

// box-shadows
$video-box-shadow: 0.2rem -0.2rem 3.8rem rgba(0, 0, 0, 0.08); //This works on about us cards too
$absolute-box-shadow: 0.181rem 0.361rem 3.434rem rgba(0, 0, 0, 0.08);
$reviews-card-shadow: 0.2rem 0.4rem 2.8rem rgba(0, 0, 0, 0.08);
