@use "./base/reset" as *;
@use "./base/fonts" as *;
@use "./abstract/mixins" as *;
@use "variables" as *;
@use "./layout/header" as *;
@use "./layout/career-path" as *;
@use "./layout/about-us" as *;
@use "./layout/our-services" as *;
@use "./layout/stories" as *;
@use "./layout/reviews" as *;
@use "./layout/subscribe" as *;
@use "./layout/footer" as *;

// General styles goes here
body {
  width: 100%;
  height: 100vh;
  background-color: $primary-bg-color;
  overflow-x: hidden;
  // padding: 5.4rem 2rem;
}

html {
  font-size: 62.5%;
}

main {
  @include flex(column, center, center);
  gap: 6.4rem;
}
