@use "../abstract/mixins" as *;
@use "../variables" as *;

// about us section styles goes here
.about-us {
  width: clamp(27.2rem, 79.5vw, 116.1rem);
  padding: 0 2.4rem;
  //   background-color: pink;
  @include flex(row, center, center, 2.6rem);
  .about-us-wrapper {
    @include flex(column, center, center, 2.6rem);
    .headings {
      @include flex(column, center, center, 2.6rem);

      & h3 {
        @include poppins-28-regular;
      }
      & p {
        @include mobile-p-layout;
        @include poppins-16-regular;
      }
    }
    .grid-wrapper::before {
      content: "";
      position: absolute;
      width: 8rem;
      height: 8rem;
      background: url(../../assets/images/circle.svg) no-repeat center;
      background-size: contain;
      bottom: -2rem;
      left: -2rem;
      z-index: -1;
    }
    .grid-wrapper {
      @include grid-wrapper;
      position: relative;
      z-index: 0;
      .card {
        padding: 4.9rem 2.2rem;
        @include flex(column, center, center, 1rem);
        max-width: 26.4rem;
        box-shadow: $absolute-box-shadow;
        border-radius: 1.2rem;
        position: relative;
        background-color: $primary-bg-color;
        z-index: 1;
        & .img-icon {
          padding: 1.7rem 2rem;
          background-color: $footer-logo-color;
          border-radius: 5rem;
          position: absolute;
          top: -2.5rem;
        }
        & h4 {
          @include jakarta-18-semibold;
        }
        & p {
          text-wrap: wrap;
          text-align: center;
          @include poppins-16-regular;
        }
      }
    }

    .button {
      @include flex(row, center, center);
      & button {
        @include dark-theme-button;
        &:hover {
          background-color: $primary-bg-color;
          box-shadow: $absolute-box-shadow;
          color: $primary-text-color;
          transition: 0.3s linear;
        }
      }
    }
    @media (min-width: 768px) {
      gap: 4rem;
      .au-cards-wrapper::before {
        display: none;
      }
    }
    @media (min-width: 992px) {
      .au-cards-wrapper::before {
        display: block;
      }
    }
  }
}
