@use "../abstract/mixins" as *;
@use "../variables" as *;

// career path section
.career-path {
  width: clamp(27.2rem, 86.4vw, 124rem);
}
.career-path-wrapper {
  width: clamp(27.2rem, 86.4vw, 124rem);
  margin-top: 3rem;
  @include flex(column, center, center, 2.6rem);
  @media (min-width: 768px) {
    @include flex(row, space-between, center, 4rem);
  }

  .text-buttons {
    width: clamp(27.2rem, 27.4vw, 57.9rem);
    height: clamp(25rem, 17.9vw, 45rem);
    & .heading-div {
      @include flex(column, center, center, 1.6rem);
      & h2 {
        @include poppins-32-regular;
        @media (min-width: 768px) {
          & span {
            color: $career-path-span-color;
          }
        }
      }
      & p {
        font-family: "Poppins-Regular", sans-serif;
        font-size: 1.6rem;
        text-align: center;
        color: $primary-text-color;
        text-wrap: wrap;
        width: clamp(27.2rem, 27.4vw, 57.9rem);
        @media (min-width: 768px) {
          text-align: left;
          text-align: left;
        }
      }
      & .button-wrapper {
        @include flex(row, center, center, 1.6rem);
        & .start {
          @include transparent-btn-styles;
          &:hover {
            @include hover-for-light-btn;
            transition: 0.3s ease-in-out;
          }
        }
        & .play-btn {
          @include play-btn;
          &:hover {
            @include hover-for-light-btn;
            & img {
              filter: invert(1);
            }
            transition: 0.3s linear;
          }
        }
        & .learn-more {
          @include transparent-btn-styles;
          &:hover {
            @include hover-for-light-btn;
            transition: 0.3s linear;
          }
        }
      }
      .images-text {
        @include flex(row, start, center);
        & .images-container {
          @include flex(row, flex-start, center);
          & p {
            font-family: "Poppins-Medium";
            font-size: 1.3rem;
            color: $primary-text-color;
          }
          & img {
            object-fit: cover;
            position: relative;
            border: 1px solid $primary-bg-color;
            border-radius: 5rem;
            &:not(:first-child) {
              margin-left: -1rem;
            }
          }
        }
        display: none;
        @media (min-width: 768px) {
          display: flex;
        }
      }
    }
    @media (min-width: 768px) {
      .heading-div {
        @include flex(column, start, start);
        .heading-div {
          & h2 {
            text-align: left;
            text-align: left;
          }
        }
      }
    }
  }

  .model-div {
    position: relative;
    @include flex(row, center, center);
    width: clamp(21.8rem, 35.1vw, 50.6rem);
    height: clamp(17.6rem, 20.7vw, 40.8rem);
    background-color: $secondary-bg-color;
    border-radius: 0.8rem;
    padding: 10rem 10rem;
    .bg-colored-div {
      & img {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 100%;
      }
    }
    .column-absolute-cards {
      position: absolute;
      left: -6rem;
      top: 1rem;
      @include flex(column, center, center, 0.8rem);
      .absolute-card {
        @include flex(column, center, center, 0.5rem);
        width: clamp(8rem, 12vw, 14.3rem);
        height: clamp(4.8rem, 5.7vw, 11.2rem);
        padding: 0.8rem;
        border-radius: 0.6rem;
        background-color: $primary-bg-color;
        box-shadow: $absolute-box-shadow;
        & button {
          padding: 0.5rem;
          background-color: $main-heading-mobile-color;
          border-radius: 5rem;
        }
        & h5 {
          font-family: "PlusJakartaSans-SemiBold";
          font-size: 0.8rem;
          white-space: nowrap;
          @media (min-width: 992px) {
            font-size: 1.6rem;
          }
        }
        & p {
          font-family: "PlusJakartaSans-SemiBold";
          font-size: 1rem;
          color: $career-path-card-text-color;
          white-space: nowrap;
          @media (min-width: 992px) {
            font-size: 1.2rem;
          }
        }
      }
      .card2,
      .card3 {
        .images-div {
          @include flex(row, start, center);
          img {
            width: clamp(0.9rem, 1.2vw, 2.2rem);
            height: clamp(0.9rem, 1.2vw, 2.2rem);
            // object-fit: cover;
            position: relative;
            border: 1px solid $primary-bg-color;
            border-radius: 5rem;
            &:not(:first-child) {
              margin-left: -0.5rem;
            }
          }
        }
      }
    }
  }
}
