@use "../abstract/mixins" as *;
@use "../variables" as *;

// career path section
.career-path-wrapper {
  margin-top: 3rem;
  @include career-path-responsive;

  .text-buttons {
    & .heading-div {
      @include flex(column, center, center, 1.6rem);
      & h2 {
        @include poppins-32-regular;
        @media (min-width: 768px) {
          & span {
            color: $career-path-span-color;
          }
        }
      }
      & p {
        font-family: "Poppins-Regular", sans-serif;
        font-size: 1.6rem;
        color: $primary-text-color;
        text-wrap: wrap;
        max-width: 27.2rem;
        width: 100%;
        text-align: center;
      }
      & .button-wrapper {
        @include flex(row, center, center, 1.6rem);
        & .start {
          @include transparent-btn-styles;
          &:hover {
            @include hover-for-light-btn;
            transition: 0.3s ease-in-out;
          }
        }
        & .play-btn {
          @include play-btn;
          &:hover {
            @include hover-for-light-btn;
            & img {
              filter: invert(1);
            }
            transition: 0.3s linear;
          }
        }
        & .learn-more {
          @include transparent-btn-styles;
          &:hover {
            @include hover-for-light-btn;
            transition: 0.3s linear;
          }
        }
      }
      .images-text {
        @include flex(row, center, center);
        & .images-container {
          @include flex(row, center, center);
          & p {
            font-family: "Poppins-Medium";
            font-size: 1.3rem;
            color: $primary-text-color;
            margin-left: 2rem;
          }
          img {
            object-fit: cover;
            position: relative;
            border: 1px solid $primary-bg-color;
            border-radius: 5rem;
            &:not(:first-child) {
              margin-left: -1rem;
            }
          }
        }
        display: none;
        @media (min-width: 768px) {
          display: block;
        }
      }
    }
    @media (min-width: 768px) {
      .heading-div {
        @include flex(column, start, start);
        .heading-div {
          & h2,
          & p {
            text-align: left;
            max-width: 57rem;
            width: 100%;
            text-align: left;
          }
        }
      }
    }
  }

  .model-div {
    width: 100%;
    @include flex(row, center, center);
    position: relative;
    .bg-colored-div {
      background-color: $secondary-bg-color;
      border-radius: 0.8rem;
      padding: 10rem 10rem;
      & img {
        position: absolute;
        right: 3rem;
        bottom: 1.5rem;
        height: 110%;
      }
      width: 30rem;
      height: 22rem;
    }
    .column-absolute-cards {
      position: absolute;
      left: -2rem;
      top: 1rem;
      @include flex(column, center, center, 0.8rem);
      .absolute-card {
        @include flex(column, center, center, 0.5rem);
        padding: 0.8rem 1.6rem;
        border-radius: 0.6rem;
        background-color: $primary-bg-color;
        box-shadow: $absolute-box-shadow;
        & button {
          padding: 0.5rem;
          background-color: $main-heading-mobile-color;
          border-radius: 5rem;
        }
        & h5 {
          @include jakarta-10-semibold;
        }
        & p {
          font-family: "PlusJakartaSans-SemiBold";
          font-size: 1rem;
        }
      }
      .card2,
      .card3 {
        align-items: center;
        .images-div {
          @include flex(row, start, center);
          img {
            object-fit: cover;
            position: relative;
            border: 1px solid $primary-bg-color;
            border-radius: 5rem;
            &:not(:first-child) {
              margin-left: -1rem;
            }
          }
        }
      }
    }
  }
}
