@use "../abstract/mixins" as *;
@use "../variables" as *;

.footer {
  padding: 4rem 2.4rem;
  background-color: $primary-bg-color;

  .wrapper {
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
  }

  .footer-container {
    @include flex(column, center, center, 4rem);
    text-align: center;
  }

  .footer-left,
  .footer-center,
  .footer-right {
    flex: 1;
  }

  h3 {
    @include jakarta-18-semibold;
    margin-bottom: 0.8rem;
  }

  p {
    @include poppins-16-regular;
  }

  .footer-center {

    .title {
      margin-bottom: 1rem;
    }

    .icons {
      @include flex(row, center, center, 1.2rem);
    }

    .icon {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      border: 1px solid $primary-text-color;
      cursor: pointer;
      transition: 0.3s ease;

      @include flex(row, center, center);

      img {
        width: 1.6rem;
        height: 1.6rem;
        object-fit: contain;
      }

      &:hover {
        background-color: $footer-logo-color;
        border-color: $footer-logo-color;
      }
    }
  }

  .footer-bottom {
    margin-top: 4rem;
    padding-top: 2.4rem;
    border-top: 1px solid #e4d8d8;
    text-align: center;

    p {
      font-size: 1.4rem;
    }
  }

  /* TABLET */

  @media (min-width: 768px) {

    .footer-container {
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
    }

    .footer-left {
      text-align: left;
    }

    .footer-center {
      text-align: center;
    }

    .footer-right {
      text-align: right;
    }
  }
}

body:has(#change-theme:checked) {

  .footer {
    background-color: $dark-theme-bg-color;

    h3,
    p {
      color: $secondary-text-color;
    }

    .icon {
      border-color: $secondary-text-color;

      &:hover {
        background-color: $footer-logo-color;
        border-color: $footer-logo-color;
      }
    }

    .footer-bottom {
      border-top: 1px solid #2a3d4f;
    }
  }
}