@use "../abstract/mixins" as *;
@use "../variables" as *;


.our-services {
  padding: 0 2.4rem;
  @include flex(row, center, center);
  background-color: $primary-bg-color; 
}

  .our-services-wrapper {
    width: 100%;
    max-width: 100rem;
    min-height: 50rem;
    background-color: #d8cc7a;
    border-radius: 2rem;
    padding: 4rem 2rem;

    @include flex(column, center, center, 3rem);
  }

 
  .our-services-right {
    order: 1;
    width: 100%;
    @include flex(column, center, center, 2rem);

    .headings {
      @include flex(column, center, center, 1.6rem);

      h3 {
        @include poppins-28-regular;
      }

      p {
        text-align: center;
        width: 27.2rem;
        @include poppins-16-regular;
      }
    }

    .services-list {
      @include flex(column, flex-start, center, 2rem);
      width: 100%;

      .service-item {
        @include flex(row, flex-start, center, 1.6rem);

        .icon {
            width: 4.8rem;
            height: 4.8rem;
            border-radius: 50%;
            background-color: $primary-bg-color;
            @include flex(row, center, center);

        img {
            width: 2.4rem;
            height: 2.4rem;
            object-fit: contain;
  }
}

        span {
          @include poppins-16-regular;
        }
      }
    }
  }

  .our-services-left {
    order: 2;
    width: 100%;
    position: relative;

    .browser {
      background: #f3f3f3;
      border-radius: 1.6rem;
      padding: 1.6rem;
      box-shadow: $absolute-box-shadow;
      position: relative;
      z-index: 2;
    }

    .browser-top {
      display: flex;
      gap: 0.8rem;
      margin-bottom: 1.6rem;

      .dot {
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 50%;
      }

      .red { background: #EE6767; }
      .yellow { background: #F6C566; }
      .green { background: #5BEB7B; }
    }

    .browser-images {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
    }

    .image-large img {
      width: 100%;
      height: 22rem;
      object-fit: cover;
      border-radius: 1.2rem;
    }

    .image-row {
      display: flex;
      gap: 1.6rem;

      img {
        width: 50%;
        height: 16rem;
        object-fit: cover;
        border-radius: 1.2rem;
      }
    }

    .blue-circle {
      position: absolute;
      width: 14rem;
      height: 14rem;
      background-color: $footer-logo-color;
      border-radius: 50%;
      bottom: -3rem;
      left: -3rem;
      z-index: 1;
    }
  }

  .button {
    order: 3;
    @include flex(row, center, center);

    button {
      @include dark-theme-button;
    }
  }

 //Tablet V.

  @media (min-width: 768px) {
    .our-services-wrapper {
      padding: 5rem 4rem;
    }

    .our-services-right .headings p {
      width: 40rem;
      font-size: 1.8rem;
    }
  }

  //Desktop V.

  @media (min-width: 992px) {

    .our-services-wrapper {
      @include flex(row, space-between, center, 4rem);
      padding: 6rem;
    }

    .our-services-left,
    .our-services-right {
      width: 50%;
      order: unset;
    }

    .button {
      width: 100%;
      justify-content: flex-start;
    }

    .our-services-right {
      align-items: flex-start;

      .headings {
        align-items: flex-start;

        p {
          text-align: left;
          width: 100%;
        }
      }

      .services-list {
        align-items: flex-start;
      }
    }
  }


body:has(#change-theme:checked) {

   .our-services {
    background-color: $dark-theme-bg-color;
  }
   .our-services h3,
  .our-services .headings p {
    color: $primary-text-color;
  }
}