@use "../abstract/mixins" as *;
@use "../variables" as *;

// OUr Service section styles goes here
@use "../abstract/mixins" as *;
@use "../variables" as *;

.our-services {
  background-color: $primary-bg-color;
  @include flex(row, center, center);

  .our-services-wrapper {
    width: clamp(27.2rem, 86.4vw, 124rem);
    @include flex(column, center, center, 2.4rem);
    background-color: $secondary-bg-color;
    border-radius: 2rem;
    padding: 4rem 2rem;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .our-services-right {
    @include flex(column, flex-start, center, 3rem);

    .headings {
      width: clamp(25.2rem, 23.5vw, 51.5rem);
      margin: 0 auto;
      text-align: center;
      @media (min-width: 768px) {
        text-align: left;
      }

      h3 {
        @include poppins-28-regular;

        @media (min-width: 762px) {
          font-size: 4.2rem;
        }
      }

      p {
        @include poppins-16-regular;
        @media (min-width: 768px) {
          font-size: 1.8rem;
        }
      }
    }

    .services-list {
      @include flex(column, flex-start, flex-start, 2rem);
      .service-item {
        @include flex(row, flex-start, center, 1.6rem);

        .icon {
          padding: 1.8rem;
          border-radius: 50%;
          background-color: $primary-bg-color;

          @include flex(row, center, center);
        }

        span {
          @include poppins-16-regular;
        }
      }
    }

    .button-div {
      @include flex(row, center, center);

      button {
        @include dark-theme-button;
        &:hover {
          background-color: $primary-bg-color;
          box-shadow: $absolute-box-shadow;
          color: $primary-text-color;
          transition: 0.3s linear;
        }
      }
    }

    @media (min-width: 768px) {
      align-items: flex-start;
    }
  }

  .our-services-left {
    position: relative;

    .browser {
      width: clamp(23.4rem, 20.36vw, 46.2rem);
      background: rgba(243, 243, 243, 0.6);
      border-radius: 1.6rem;
      padding: 2.4rem 1.6rem;
      box-shadow: $absolute-box-shadow;
      position: relative;
      z-index: 2;
    }

    .browser-top {
      @include flex(row, start, center, 0.8rem);
      margin-bottom: 1.6rem;

      .dot {
        width: clamp(0.5rem, 0.5vw, 1.1rem);
        width: clamp(0.5rem, 0.5vw, 1.1rem);
        border-radius: 50%;
      }

      .red {
        background: $browser-red-dot;
      }
      .yellow {
        background: $browser-yellow-dot;
      }
      .green {
        background: $browser-dot-green;
      }
    }

    .browser-images {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
    }

    .image-large img {
      width: clamp(20.1rem, 17.6vw, 39.8rem);
      object-fit: cover;
      border-radius: 1.2rem;
    }

    .image-row {
      @include flex(row, center, center, 1.6rem);
      & .img1 {
        width: clamp(7.64rem, 6.7vw, 15.1rem);
        object-fit: cover;
        height: clamp(8.9rem, 7.8vw, 17.6rem);
        border-radius: 1.2rem;
      }
      & .img2 {
        width: clamp(11.27rem, 9.8vw, 22.3rem);
        height: clamp(8.9rem, 9.8vw, 17.6rem);
        // object-fit: cover;
        border-radius: 1.2rem;
      }
    }

    .blue-circle {
      position: absolute;
      width: clamp(10rem, 8.9vw, 20rem);
      width: clamp(10rem, 8.9vw, 20rem);
      background-color: $footer-logo-color;
      border-radius: 50%;
      bottom: -2rem;
      left: -2rem;
      z-index: 1;

      @media (min-width: 768px) {
        width: 14rem;
        height: 14rem;
        bottom: -3rem;
        right: -3rem;
      }
    }
  }

  //Tablet V.

  @media (min-width: 768px) {
    .our-services-wrapper {
      padding: 5rem 4rem;
    }

    .services-list {
      max-width: 50rem;
    }
    .our-services-left .blue-circle {
      width: 14rem;
      height: 14rem;
      bottom: -3rem;
      left: -3rem;
    }
  }
}
