@use "../abstract/mixins" as *;
@use "../variables" as *;

.reviews {
  width: clamp(27.2rem, 79.5vw, 116.1rem);
  padding: 0 2.4rem;
  @include flex(row, center, center);

  .container {
    @include flex(column, center, center, 2.6rem);
  }

  .reviews_top {
    @include flex(column, center, center, 2.6rem);

    h2 {
      font-family: "Poppins-Regular", sans-serif;
      font-size: 2.8rem;
      text-align: center;
      color: $main-heading-mobile-color;
      @media (min-width: 768px) {
        color: $primary-text-color;
        font-size: 4.2rem;
      }
    }

    p {
      width: 27.2rem;
      text-align: center;
      @include poppins-16-regular;

      @media (min-width: 768px) {
        width: 35rem;
        font-size: 1.8rem;
      }

      @media (min-width: 992px) {
        width: 100%;
      }
    }
  }
  .reviews_grid {
    @include grid-wrapper;
  }

  .review_card {
    padding: 3.6rem 2.2rem;
    @include flex(column, center, center, 1rem);
    max-width: 30rem;
    box-shadow: $absolute-box-shadow;
    border-radius: 1.2rem;
    background-color: $primary-bg-color;
    margin: 0 auto;

    .review_card_top {
      @include flex(row, center, center, 1rem);

      @media (min-width: 768px) {
        justify-content: flex-start;
      }
    }
    .review_card_photo {
      width: 4.8rem;
      height: 4.8rem;
      border-radius: 50%;
      object-fit: cover;
    }
    .review_card_meta {
      text-align: left;

      h4 {
        @include jakarta-18-semibold;
      }
      .review_card_role {
        @include poppins-16-regular;
        font-size: 1.2rem;
        opacity: 0.7;
      }
    }

    .review_card_text {
      text-align: center;
      @include poppins-16-regular;
      font-size: 1.4rem;
    }
  }
  .reviews_actions {
    @include flex(row, center, center);
    .reviews_btn {
      @include dark-theme-button;
    }
  }
  .reviews_navigation {
    display: none;
  }

  @media (min-width: 768px) {
    .reviews_actions {
      display: none;
    }
    .reviews_navigation {
      display: flex;
      justify-content: center;
      gap: 2rem;
      margin-top: 2rem;
      .reviews_arrow {
        @include transparent-btn-styles;
        padding: 2.2rem 1.8rem;
        border-radius: 1rem;
        border: none;
        &:hover {
          color: $primary-bg-color;
          background-color: $footer-logo-color;
          transition: 0.3s linear;
          & img {
            filter: invert(1);
          }
        }
        cursor: pointer;
        @include flex(row, center, center);
      }
    }
  }
}
