@use "../abstract/mixins" as *;
@use "../variables" as *;

body:has(#change-theme:checked) {

  .reviews {
    background-color: $dark-theme-bg-color;
  }
  
    .reviews .card {
    background-color: $primary-bg-color;
  }
  .reviews button {
    @include toggle-btn-styles;
  }

}
.reviews {
  padding: 0 2.4rem; 
  background-color: $primary-bg-color;   @include flex(row, center, center);

  
  white-space: normal;

  .reviews-wrapper {
    width: 100%;
    @include flex(column, center, center, 2.4rem);

    .headings {
      @include flex(column, center, center, 1.6rem);

      h3 {
        @include poppins-28-regular; 
      }

      p {
        text-wrap: wrap;
        width: 27.2rem;
        text-align: center;
        @include poppins-16-regular;

        @media (min-width: 768px) {
          width: 60rem;
          font-size: 1.8rem;
        }

        @media (min-width: 992px) {
          width: 100%;
          max-width: 65rem;
        }
      }
    }

    .reviews-grid {
      width: 100%;
      display: grid;
      gap: 1.6rem;
      grid-template-columns: 1fr;
      padding: 0 2.8rem;

    
      @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding: 0 2.8rem;
      }

      // computer V.
      @media (min-width: 992px) {
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
        padding: 0; 
      }

      .card {
        background-color: $primary-bg-color;
        box-shadow: $reviews-card-shadow;
        border-radius: 1.2rem;
        padding: 2rem;
        text-wrap: wrap;

        .card-top {
          @include flex(row, center, center, 1rem);
          margin-bottom: 1.2rem;

          @media (min-width: 768px) {
            justify-content: flex-start;
          }

          .avatar {
            width: 4.8rem;
            height: 4.8rem;
            border-radius: 50%;
            object-fit: cover;
          }

          .meta {
            text-align: left;

            h4 {
              @include jakarta-18-semibold;
            }

            .role {
              text-wrap: wrap;
              @include poppins-16-regular;
              font-size: 1.2rem;
              opacity: 0.7;
            }
          }
        }

        .text {
          text-wrap: wrap;
          @include poppins-16-regular;
          font-size: 1.2rem;
          line-height: 1.6;
        }
      }
    }

    .button {
      @include flex(row, center, center);

      button {
        @include dark-theme-button;
      }
      button:hover {
        @include hover-for-light-btn;
      }
    }
  }
}