@use "../abstract/mixins" as *;
@use "../variables" as *;

// Stories section styles goes here
@use "../abstract/mixins" as *;
@use "../variables" as *;

.stories {
  background-color: $primary-bg-color;
  @include flex(row, center, center);

  .stories-wrapper {
    width: clamp(27.2rem, 86.4vw, 124rem);
    @include grid-wrapper;
    background-color: $secondary-bg-color;
    border-radius: 2.9rem;
    padding: 4rem 2rem;
  }

  .stories-left {
    @include flex(column, flex-start, center, 3rem);
    .headings {
      @include flex(column, flex-start, center, 1.6rem);
      width: 100%;
      max-width: 45rem;
      margin: 0 auto;
      text-align: center;
      @media (min-width: 768px) {
        text-align: left;
      }

      h3 {
        @include poppins-28-regular;

        @media (min-width: 762px) {
          font-size: 4.2rem;
        }
      }

      p {
        @include poppins-16-regular;
        @media (min-width: 768px) {
          font-size: 1.8rem;
        }
      }
    }

    .stories-list {
      @include flex(column, flex-start, flex-start, 2rem);
      .story-item {
        @include flex(row, flex-start, center, 1.6rem);

        .icon {
          padding: 1.8rem;
          border-radius: 50%;
          background-color: $primary-bg-color;
          @include flex(row, center, center);
        }

        span {
          @include poppins-16-regular;
        }
      }
    }

    .button-div {
      @include flex(row, center, center);
      button {
        @include dark-theme-button;
        &:hover {
          background-color: $primary-bg-color;
          box-shadow: $absolute-box-shadow;
          color: $primary-text-color;
          transition: 0.3s linear;
        }
      }
    }
    @media (min-width: 768px) {
      text-align: left;
      align-items: flex-start;
    }
  }

  .stories-right {
    position: relative;

    .browser {
      background: rgba(243, 243, 243, 0.6);
      border-radius: 1.6rem;
      padding: 2.4rem 1.6rem;
      box-shadow: $absolute-box-shadow;
      position: relative;
      z-index: 2;
    }

    .browser-top {
      @include flex(row, start, center, 0.8rem);
      margin-bottom: 1.6rem;

      .dot {
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 50%;
      }

      .red {
        background: $browser-red-dot;
      }
      .yellow {
        background: $browser-yellow-dot;
      }
      .green {
        background: $browser-dot-green;
      }
    }

    .browser-images {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
    }

    .image-large img {
      width: clamp(20.1rem, 17.6vw, 39.8rem);
      object-fit: cover;
      border-radius: 1.2rem;
    }

    .image-row {
      @include flex(row, center, center, 1.6rem);

      & .img1 {
        width: clamp(7.64rem, 6.7vw, 15.1rem);
        object-fit: cover;
        height: clamp(8.9rem, 7.8vw, 17.6rem);
        border-radius: 1.2rem;
      }
      & .img2 {
        width: clamp(11.27rem, 9.8vw, 22.3rem);
        height: clamp(8.9rem, 9.8vw, 17.6rem);
        object-fit: cover;
        border-radius: 1.2rem;
      }
    }

    .blue-circle {
      position: absolute;
      width: clamp(10rem, 8.9vw, 20rem);
      width: clamp(10rem, 8.9vw, 20rem);
      background-color: $footer-logo-color;
      border-radius: 50%;
      bottom: -2rem;
      right: -2rem;
      z-index: 1;

      @media (min-width: 768px) {
        width: 14rem;
        height: 14rem;
        bottom: -3rem;
        right: -3rem;
      }
    }
  }
}
