@use "../abstract/mixins" as *;
@use "../variables" as *;

.subscribe-forms {
  padding: 0 2.4rem;
  background-color: $primary-bg-color;

  .wrapper {
    width: 100%;
    max-width: 140rem;
    margin: 0 auto;
    min-height: 40rem;
    background-color: #d8cc7a;
    border-radius: 2.9rem;
    padding: 6rem 2rem;
    text-align: center;

    @include flex(column, center, center, 2rem);
  }

  .subscribe-title {
    @include poppins-28-regular;
    max-width: 60rem;
  }

  .subscribe-subtitle,
  .subscribe-subtext {
    @include poppins-16-regular;
    max-width: 60rem;
  }

  .subscribe-form {
    width: 100%;
    max-width: 70rem;
    margin-top: 2rem;

    @include flex(column, center, center, 2rem);

    .row {
      width: 100%;
      @include flex(column, center, center, 1.6rem);
    }

    input,
    textarea {
      width: 100%;
      padding: 1.6rem;
      border-radius: 1rem;
      border: 1px solid #1e1e1e;
      font-size: 1.4rem;
      font-family: "Poppins-Regular", sans-serif;
      outline: none;
      transition: 0.3s ease;
    }

    textarea {
      min-height: 12rem;
      resize: vertical;
    }

    input:focus,
    textarea:focus {
      border-color: $footer-logo-color;
    }

    button {
      margin-top: 1rem;
      @include dark-theme-button;
    }
  }

  @media (min-width: 768px) {
    .subscribe-form {
      .row {
        flex-direction: row;
      }

      input {
        flex: 1;
      }
    }
  }

@media (min-width: 992px) {

  .wrapper {
    max-width: 100rem; 
    min-height: 59.8rem; 
    padding: 6rem 8rem;
  }

  .subscribe-form {
    max-width: 80rem;
  }
}
}

body:has(#change-theme:checked) {

  .subscribe-forms {
    background-color: $dark-theme-bg-color;
  }
  

}