@use "../abstract/mixins" as *;
@use "../variables" as *;

// Subscribe Section Styles goes here
.subscribe-forms {
  background-color: #E8DB84;
  text-align: center;
  border-radius: 24px;
  padding: 80px 20px;

  .wrapper{
    max-width: 1240px;
    margin: 0 auto;
  }

  .subscribe-title {
    color: #000000;
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  .subscribe-subtitle,
  .subscribe-subtext {
    color: #000000;
    font-size: 18px;
    margin-bottom: 8px;
  }

  .subscribe-form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .row {
      display: flex;
      flex-direction: column;
      gap: 10px;
      
      input,
      textarea {
        padding: 12px;
        border: 1px solid #1E1E1E;
        border-radius: 8px;
        font-size: 16px;
        width: 100%;
      }

      textarea {
        min-height: 100px;
        resize: vertical;
      }
    }

    button {
        background-color: #052A44;
        color: #FFFFFF;
        padding: 15px 43px;
        font-size: 16px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.3s;
        width: fit-content;
        align-self: center;

        &:hover {
            background-color: #E8DB84;
        }
    }
  }
}

@media (min-width: 768px) {
  .subscribe-forms {

    .subscribe-form {

      .row {
        flex-direction: row;
        gap: 20px;

        input {
          flex: 1;
        }
      }
    }
  }
}