@font-face {
  font-family: "AvenirLTStd-medium";
  src: url("../../assets/fonts/AvenirLTStd-Medium.ttf") format("ttf");
}
@font-face {
  font-family: "PlusJakartaSans-SemiBold";
  src: url("../../assets/fonts/PlusJakartaSans-SemiBold.ttf") format("ttf");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("../../assets/fonts/Poppins-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "Poppins-ExtraBold";
  src: url("../../assets/fonts/Poppins-ExtraBold.ttf") format("ttf");
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("../../assets/fonts/Poppins-Medium.ttf") format("ttf");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("../../assets/fonts/Poppins-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../../assets/fonts/Poppins-SemiBold.ttf") format("ttf");
}
