@use "../variables" as *;

// button styles
@mixin btn-styles {
  background-color: #052a44;
  padding: 1.5rem 3.6rem;
  border-radius: 0.8rem;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
}
// desktop  button mixin
@mixin desktop-btn-styles {
  @include toggle-btn-styles();
  padding: 1.5rem 4.5rem;
  border-radius: 0.8rem;
  white-space: nowrap;
}
@mixin toggle-btn-styles {
  background-color: $primary-bg-color;
  color: $primary-text-color;
}
// play -video button styles
@mixin play-btn {
  background-color: #ffffff;
  padding: 1.8rem;
  box-shadow: $video-box-shadow;
}

// input field styles
@mixin input-field {
  background-color: $primary-bg-color;
  border-radius: 0.8rem;
  padding: 2rem 2.4rem;
}

// Display flex - grid mixins
@mixin flex($direction: row, $justify: center, $align: center, $gap: null) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  @if $gap != null {
    gap: $gap;
  }
}

// Font mixins

@mixin toggle-fonts {
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 1.6rem;
  color: $primary-text-color;
  text-transform: capitalize;
}
@mixin header-navigation-fonts {
  font-family: "Poppins-Regular", sans-serif;
  font-size: 1.6rem;
  color: $secondary-text-color;
}
