@use "../variables" as *;

// button styles
@mixin dark-theme-button {
  background-color: #052a44;
  padding: 1.5rem 3.6rem;
  border-radius: 0.8rem;
  color: $primary-bg-color;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
}
@mixin transparent-btn-styles {
  background-color: $primary-bg-color;
  font-size: 1.4rem;
  font-family: "Poppins-Medium", sans-serif;
  color: $primary-text-color;
  padding: 1.5rem 2.6rem;
  border-radius: 0.8rem;
  box-shadow: $absolute-box-shadow;
}
// Hover style for light-buttons
@mixin hover-for-light-btn {
  background-color: #052a44;
  color: $primary-bg-color;
}
@mixin hover-for-dark-btn {
  background-color: $primary-bg-color;
  font-size: 1.4rem;
  font-family: "Poppins-Medium", sans-serif;
  color: $secondary-text-color;
  padding: 1.5rem 3.6rem;
  border-radius: 0.8rem;
}

// desktop header button mixin
@mixin desktop-btn-styles {
  @include toggle-btn-styles();
  @include poppins-16-semibold;
  padding: 1.5rem 4.5rem;
  border-radius: 0.8rem;
  white-space: nowrap;
}
@mixin toggle-btn-styles {
  background-color: $primary-bg-color;
  color: $primary-text-color;
}

// play -video button styles
@mixin play-btn {
  background-color: $primary-bg-color;
  padding: 1.5rem;
  border-radius: 5rem;
  @include flex(row, center, center);
  box-shadow: $video-box-shadow;
}
@mixin play-btn-hover {
  background-color: $footer-logo-color;
  border-radius: 5rem;
  padding: 1.5rem;
  @include flex(row, center, center);
}
// input field styles
@mixin input-field {
  background-color: $primary-bg-color;
  border-radius: 0.8rem;
  padding: 2rem 2.4rem;
}

// Display flex or/and grid mixins
@mixin flex($direction: row, $justify: center, $align: center, $gap: null) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  @if $gap != null {
    gap: $gap;
  }
}

// About-us Grid mixin
@mixin au-cards-wrapper($gap: 2.6rem, $two-columns: 2, $three-columns: 3) {
  display: grid;
  gap: $gap;
  grid-template-columns: 1fr;
  // responsive
  @media (min-width: 768px) {
    grid-template-columns: repeat($two-columns, 1fr);
    & > :nth-child(3) {
      grid-column: 1 / -1;
      justify-self: center;
      max-width: 35rem;
    }
  }
  // second responsive step
  @media (min-width: 992px) {
    grid-template-columns: repeat($three-columns, 1fr);
    & > :nth-child(3) {
      grid-column: auto; // reset
      justify-self: stretch;
      max-width: none;
    }
  }
}
@mixin career-path-responsive($gap: 3.6rem, $two-columns: 2) {
  display: grid;
  gap: $gap;
  grid-template-columns: minmax(0, 37rem);
  @media (min-width: 768px) {
    grid-template-columns: repeat($two-columns, 1fr);
  }
}
// Font mixins
@mixin mobile-p-layout {
  text-wrap: wrap;
  width: 27.2rem;
  text-align: center;
  @media (min-width: 768px) {
    width: 35rem;
    font-size: 1.8rem;
  }
  @media (min-width: 992px) {
    width: 100%;
  }
}
@mixin main-heading-fonts {
  font-size: 3.2rem;
  font-family: "Poppins-Regular", sans-serif;
  color: $main-heading-mobile-color;
}
@mixin mobile-p-16-fonts {
  text-align: center;
  font-size: 1.6rem;
  font-family: "Poppins-Regular", sans-serif;
  color: $primary-text-color;
}

@mixin toggle-fonts {
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 1.6rem;
  color: $primary-text-color;
  text-transform: capitalize;
}
@mixin header-navigation-fonts {
  font-family: "Poppins-Regular", sans-serif;
  font-size: 1.6rem;
  color: $secondary-text-color;
}
@mixin poppins-32-regular {
  font-family: "Poppins-Regular", sans-serif;
  font-size: 3.2rem;
  color: $main-heading-mobile-color;
}
@mixin poppins-28-regular {
  font-family: "Poppins-Regular", sans-serif;
  font-size: 2.8rem;
  color: $main-heading-mobile-color;
}
@mixin jakarta-18-semibold {
  font-family: "Jakarta-SemiBold", sans-serif;
  font-size: 1.8rem;
  color: $primary-text-color;
}
@mixin jakarta-10-semibold {
  font-family: "Jakarta-SemiBold", sans-serif;
  font-size: 1rem;
  color: $primary-text-color;
}
@mixin poppins-16-semibold {
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 1.6rem;
  color: $primary-text-color;
}
@mixin poppins-16-regular {
  font-family: "Poppins-Regular", sans-serif;
  font-size: 1.6rem;
  color: $primary-text-color;
}
